.query-button {
    border-radius: 5px;
    border: none;
    
    margin: 5px;
    padding: 10px;
    
    background: #008552;
    color: white;
    transition: 0.3s;
    
    text-align: center;
    font-weight: 900;
    font-size: medium;

    cursor: pointer;
}
.query-button:hover { background: #006b42; }

.inputfield-wrapper {
    position: relative;
    margin: 5px;
}
.inputfield {
    padding: 10px;
    border-radius: 5px;

    border: 2px solid #008552;
    background: white;

    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    font-weight: 600;
}
.inputfield-wrapper label {
    position: absolute;
    text-align: center;
    left: 10px;
    top: 0;
    transform: translateY(60%);
    pointer-events: none;
    color: grey;
} 
.dropdown {
    border-radius: 5px;
    border: none;
    
    padding: 10px;
    margin: 5px;
    
    background: #008552;
    color: white;
    transition: 0.3s;
    
    text-align: center;
    font-weight: 900;
    font-size: medium;
}
.dropdown:hover { background: #006b42; }
.dropdown option {
    font-weight: 600;
    background: rgb(0, 159, 45);
}

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.result-table-wrapper {
    display: block;
    overflow-x: scroll;
    overflow-y: visible;

    scrollbar-width: thin;
}
.result-table {
    background: white;
    border-radius: 5px;
    width: 100%;
    text-align: left;
}
.result-table th, .result-table td {
    padding: 3px 6px;
    white-space: nowrap;
}
.loader {
    margin: 10px;
    height: 30px;
    width: 30px;

    border-radius: 50%;
    border: rgb(210, 210, 210) solid 4px;
    border-top: solid 4px #006b42;
    animation: spin 1.2s infinite ease;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.filter {
    width: 200px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.filter-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}