.query-button {
    border-radius: 5px;
    border: none;
    
    margin: 5px;
    padding: 10px;
    
    background: #008552;
    color: white;
    transition: 0.3s;
    
    text-align: center;
    font-weight: 900;
    font-size: medium;

    cursor: pointer;
}
.query-button:hover { background: #006b42; }

.inputfield-wrapper {
    position: relative;
    margin: 5px;
}
.inputfield {
    padding: 10px;
    border-radius: 5px;

    border: 2px solid #008552;
    background: white;

    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    font-weight: 600;
}
.inputfield-wrapper label {
    position: absolute;
    text-align: center;
    left: 10px;
    top: 0;
    transform: translateY(60%);
    pointer-events: none;
    color: grey;
} 
.dropdown {
    border-radius: 5px;
    border: none;
    
    padding: 10px;
    margin: 5px;
    
    background: #008552;
    color: white;
    transition: 0.3s;
    
    text-align: center;
    font-weight: 900;
    font-size: medium;
}
.dropdown:hover { background: #006b42; }
.dropdown option {
    font-weight: 600;
    background: rgb(0, 159, 45);
}

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.result-table-wrapper {
    display: block;
    overflow-x: scroll;
    overflow-y: visible;

    scrollbar-width: thin;
}
.result-table {
    background: white;
    border-radius: 5px;
    width: 100%;
    text-align: left;
}
.result-table tr {
    position: relative;
}
.result-table th, .result-table td {
    padding: 5px 6px;
    white-space: nowrap;
}
.loader {
    margin: 10px;
    height: 30px;
    width: 30px;

    border-radius: 50%;
    border: rgb(210, 210, 210) solid 4px;
    border-top: solid 4px #006b42;
    animation: spin 1.2s infinite ease;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.filter {
    width: 200px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.filter-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}
.delete-button-wrapper {
    position: absolute;
    width: 500px;
    left: 0;
    display: flex;
    justify-content: left;
}
.delete-button-wrapper:hover .delete-button {
    opacity: 1;
}
.delete-button {
    opacity: 0;
    border: rgba(255, 0, 0, 0.738) 2px solid;
    background: rgb(255, 156, 156);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
}
.delete-button:hover {
    background: rgb(202, 124, 124);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.246));
}
.delete-button:focus {
    background: rgb(168, 104, 104);
}
.delete-button img {
    height: 20px;
    width: auto;
}
.sub-result-table td, .sub-result-table th {
    padding: 2px 4px !important;
}

.collapse-button {
    border: none;
    border-radius: 10px;
    background: rgba(13, 132, 29, 0.288);
    display: block;
    align-items: center;
    justify-content: center;
    padding: 4px;
    cursor: pointer;
    transition: 0.2s;
}
.collapse-button:hover {
    background: rgba(27, 139, 40, 0.435);
}
.arrow-down, .arrow-up {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.arrow-down {
    transform: rotate(45deg);
}
.arrow-up {
    transform: rotate(-135deg);
}